.search {
  border-radius: 20px;
  margin-right: 10px;
  width: 350px;
  height: 35px;
  padding-left: 15px;
  border: 2px solid black;
}

.registration{
  border-radius: 5px;
  margin-right: 10px;
  width: 300px;
  height: 35px;
  padding-left: 15px;
  border: 1px solid grey;
  background-color: rgb(250, 249, 249);

}


.Input__title{
  text-transform: uppercase;
  letter-spacing: 2px;
}