.CartShow {

  &__space {
    height: 1px;
    background-color: #525252;
    width: 80%;
    margin:auto;
    margin-bottom: 1vh;
  }

  &__list {
    padding-top: 30px;
    list-style: none;
    display: flex;
    justify-content: space-around;
    margin: 0;

    li {
      padding: 2vh;
      text-transform: uppercase;
    }
  }

  &__deliveryfees {
    text-align: end;
    width: 90%;
    display: flex;
    flex-direction: column;
  }

  &__button {
    display: flex;
    justify-content: flex-end;
    padding-top: 5%;
    margin-right: 10%;
  }

  &__emptycart {
    text-align: center;
    font-style: italic;
  }
}
