@mixin mobile {
  @media (max-width: 800px) {
    @content;
  }
}

@mixin list_display {
  list-style: none;
  display: flex;
  justify-content: space-around;
  flex-direction: column;
}

.MacBookShow {
  padding: 10vh 5vh;

  &__title {
    padding-bottom: 3vh;
    display: flex;
    justify-content: center;
  }

  &__content {
    display: flex;
    flex-direction: row;

    @include mobile{
      flex-direction: column;
    }

    &__image {
      max-width: 50vw;

      @include mobile{
        max-width: 80vw;
      }
    }
  }

  &__lists {
    font-size: 1.2rem;
    width: 40vw;
    display: flex;
    justify-content: center;

    @include mobile{
      width: 80vw;
    }

    &__criteria {
      @include list_display();
        li {
          font-family: 'Lato';
        }
    }

    &__data {
      @include list_display();
      li {
        font-family: 'Lato';
        text-align: right;
        color: rgb(121, 121, 121);
      }
    }
  }

  &__button {
    padding-top: 5vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
  }
}
