@mixin list_display {
  list-style: none;
  display: flex;
  justify-content: space-around;
  flex-direction: column;
}

.MacBookShow {
  display: flex;
  padding: 5vh;

  &__image {
    width: 50vw;
  }

  &__button {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;

  }

  &__lists {
    width: 50vw;
    display: flex;
    justify-content: center;

    &__criteria {
      @include list_display();
        li {
          font-family: 'Lato';
        }
    }

    &__data {
      @include list_display();
      li {
        font-family: 'Lato';
        text-align: right;
        color: rgb(121, 121, 121);
      }
    }

  }

}
