.Jumbotron {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  background-color: #edf8f2;
  padding-top: 80px;
  text-align: center;
  width: 100%;
  height: 85vh;
  margin-bottom: 0px;

  &__buttons {
    min-width: 50vw;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;

    & > a {
      margin: 25px;
    }
  }
  &__footer {
    width:100%;
  }
}
