@mixin mobile {
  @media (max-width: 800px) {
    @content;
  }
}

.Application {
  margin-top: 50px;
  text-align: center;
  display: flex;
  flex-direction: row;

  @include mobile{
    flex-direction: column;

    &__body {
    min-width: 100%;
    }
  }

  &__title {
    margin: 3% 0;
    text-transform: uppercase;
    font-weight: lighter;
    letter-spacing: 0.2rem;
  }

  &__body {
    width: 80%;
    border-left: 1px solid black;
    text-align: center;
  }
  
  &__progressbar {
    margin-left: 120px;
    margin-bottom: 100px;
    display: flex;
  }

  &__image{
    margin-left: 220px;
  }

  &__description {
    margin-left: 300px;
    margin-bottom: 50px;
  }
}