.purchase {
  display: grid;
  grid-gap: 10px;
  grid-template-columns: 300px  120px  120px;
  grid-template-areas: "sidebar content content";

  &__sidebar {
    grid-area: sidebar;
    margin: 30px;
    font-weight: bold;
  }

  &__content {
    grid-area: content;
  }
}
