.Purchase {
  margin-top: 50px;
  text-align: center;

  &__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }

  &__errorMessage {
    color: red;
    font-style: italic;
  }

  &__loading {
    margin: 50px 0;
  }
}
