.Footer {
  width:100%;
  padding-top: 40px;

  &__links {
    color: rgb(68, 67, 67);
    font-style: italic;

    ul {
      display: flex;
      justify-content: center;
      list-style: none;
      padding: 0px 20px 0px 20px;
    }

    li {
      text-align: left;
      padding: 5px;

      &:hover {
        color: rgb(158, 157, 157);
      }
    }
  }

  &__copyright {
    display: flex;
    justify-content: center;
    padding-bottom: 20px;
    color: rgb(158, 157, 157);
    font-style: normal;
  }
}
