.Error404 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #FF666622;
  height: 70vh;

  &__messageBloc {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 60vw;
    margin: auto;
    text-align: center;

    &__title {
      letter-spacing: 2px;
      margin: 25px auto;
      font-size: 3rem;
    }

    &__description {
      margin: 25px auto;
      font-size: 2rem;
    }

    &__link {
      margin-top: 20px;
      font-size: 2rem;
      border: var(--color-primary-dark) solid 3px;
      padding: 20px;
      border-radius: 25px;

      &:hover {
        background-color: var(--color-white);
        border-color: var(--color-primary);
      }
    }
  }
}
