@mixin mobile {
  @media (max-width: 800px) {
    @content;
  }
}

.SideBar{
  flex-direction: column;
  font-size: 20px;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
  width: 300px;
  padding: 10% 0;
  transition: 0.3s;

  &:hover {
    background-color: rgb(224, 227, 230);
  }

  @include mobile{
    width: 100%;
    padding: 2% 0;
  }
}
