@mixin mobile {
  @media (max-width: 800px) {
    @content;
  }
}

.Searches {
  margin-top: 50px;
  text-align: center;
  display: flex;
  flex-direction: row;

  @include mobile{
    flex-direction: column;

    &__body {
    min-width: 100%;
    }
  }

  &__title {
    margin: 3% 0;
    text-transform: uppercase;
    font-weight: lighter;
    letter-spacing: 0.2rem;
  }

  &__body {
    border-left: 1px solid black;
    width: 80%;
    text-align: center;
    margin-bottom: 5%;
  }
}