.Layout {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.Header {
  background-color: #b8e7d3;
  text-align: center;
  width: 100%;
  height: 32vh;
  margin-bottom: 0px;

  &__title {
    color: white;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin-top: 5vh;
  }

  &__subtitle {
    color: white;
    font-family: 'Lato';
    font-size: 1.75em;

  }
}
