@import './variables.scss';

html,
body {
  padding: 0;
  margin: 0;
  font-family: "Open Sans", sans-serif;
  color: var(--color-text);
}

a {
  color: inherit;
  text-decoration: none;
  
}

button {
  border: none;
  background: none;
  cursor: pointer;
  font: inherit;
  padding: 0;
  margin: 0;

  &:focus {
    outline: 0;
  }
}

* {
  box-sizing: border-box;
}


////////  TITLE SIZE /////////
@for $i from 1 through 6 {
  h#{7 - $i} {
      font-size: 2.4em / 6 * $i;
      font-family: 'Lato', sans-serif;
  }
}


