@mixin mobile {
  @media (max-width: 800px) {
    @content;
  }
}

.Profile{
  display: flex;
  flex-direction: row;
  margin-left: 100px;

  @include mobile{
    flex-direction: column;
  }

  &__title {
    margin-left: 155px;
    margin-bottom: 50px;
  }

  &__body {
    margin-left: 100px;
  }

  &__input{
    flex-direction: row;
    margin-left: 150px;
    margin-bottom: 30px;
  }

  &__name{
    display: flex;
    padding-right: 400px;
    margin-bottom: 30px;
  }

  &__password {
    display: flex;
    padding-right: 400px;
    align-items: flex-end;
    margin-bottom: 10px;
  }

  &__button{
    margin-left: 270px;
    margin-bottom: 100px;
  }
}